{% extends 'base.html' %}
{% load shop_filter %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        {% if cart|length > 0 %}
            <h2>Meu carrinho</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="h4">Produto</th>
                    <th scope="col" class="h4">Quantidade</th>
                    <th scope="col" class="h4">Excluir</th>
                    <th scope="col" class="h4">Preço</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a class="text-decoration-none" href="{% url 'shop:product_detail' product.pk %}">
                                    <img src="{{ product.image.url }}" alt="Teste" class="img-fluid"
                                         width="100">
                                    <p class="text-center text-dark h5"
                                       style="width: 100px;">{{ product.title }}</p>
                                </a>
                            </td>
                            <td>
                                <form action="{% url 'add' product.id %}" method="post"
                                      class="d-flex">
                                    {% csrf_token %}
                                    <div class="h3 pe-3">
                                        {% render_field item.update_quantity_form.quantity class+="form-control" %}
                                    </div>
                                    {{ item.update_quantity_form.override }}
                                    <div class="h3 pe-3">
                                        <input class="btn btn-info" type="submit" value="Atualizar">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'remove' product.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-danger" type="submit" value="Excluir">
                                </form>
                            </td>
                            <td>
                                <p class="h5"
                                   style="width: 100px;">{{ product.price|format_price }}</p>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td class="h4">Total</td>
                    <td></td>
                    <td></td>
                    <td class="h4 text-end">{{ cart.get_total_price|format_price }}</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <a href="/">
                    <button class="btn btn-primary mt-3 me-3">Continuar comprando</button>
                </a>
                <a href="{% url 'order:create' %}">
                    <button class="btn btn-success mt-3">Finalizar pedido</button>
                </a>
            </div>
        {% else %}
            <img src=" http://127.0.0.1:8000/media/triste.png" alt="Teste" class="img-fluid mx-auto d-block"
                 width="400">
            <p class="text-center pt-5">Seu carrinho está vázio</p>
        {% endif %}
    </div>
{% endblock %}
