{% extends 'base.html' %}

{% block title %}
    Perfil - {{ request.user.first_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 pt-3">
                <h2>Informações do Usuário</h2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Nome</td>
                        <td class="text-end">{{ request.user.name }}</td>
                    </tr>
                    <tr>
                        <td>CPF</td>
                        <td class="text-end">{{ request.user.cpf }}</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td class="text-end">{{ request.user.phone_number }}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td class="text-end">{{ request.user.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <a href="{% url 'users:edit' %}">
                    <button class="btn btn-info mt-3">Editar Perfil</button>
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col pt-3">
                <h2>Endereços</h2>
                {% for address in addresses %}
                    <div class="card border-dark mt-2" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.city }} - {{ address.state }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.postal_code }}</h6>
                            <p class="card-text">{{ address.number }}, {{ address.complement }}</p>
                        </div>
                    </div>
                {% empty %}
                    <h4 class="pt-3 mb-3">Você ainda não tem nenhum endereço</h4>
                {% endfor %}
                <div class="d-flex">
                    <a href="{% url 'users:create_address' %}">
                        <button class="btn btn-primary mt-3 me-3">Adicionar</button>
                    </a>
                    <a href="{% url 'users:manage_addresses' %}">
                        <button class="btn btn-warning mt-3">Gerenciar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}