{% extends 'base.html' %}
{% load shop_filter %}
{% load widget_tweaks %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="pt-3">{{ product.title }}</h2>
        <div class="row">
            <div class="col-3">
                <img src="{{ product.image.url }}" alt="" class="img-fluid" width="400">
            </div>
            <div class="col-9">
                <div class="d-flex justify-between">
                    <h2 class="card-price pb-5 pe-5">{{ product.price|format_price }}</h2>
                    <div class=" pb-5">
                        <form class="d-flex" action="{% url 'add' product.id %}" method="post">
                            {% csrf_token %}
                            <p class="h3 pe-3">Quantidade</p>
                            <div class="h3 pe-3">
                                {% render_field form.quantity class+="form-control" %}
                            </div>
                            {{ form.override }}
                            <div class="h3 pe-3">
                                <input class="btn btn-success" type="submit" value="Adicionar ao Carrinho">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-basket3-fill text-primary" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"></path>
                        </svg>
                    </div>
                    <form method="POST" action="{% url 'wish:add' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div>
                    <p class="pt-5">{{ product.description }}</p>
                </div>
                <div class="mb-3">
                    <h2 class="pb-3">Avaliações</h2>
                    {% for rating in ratings %}
                        <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ rating.user.name }}</h5>
                                <div>
                                    {% for n in rating.rating|range_list %}
                                        <i class="bi bi-star-fill text-warning"></i>
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="card-text">{{ rating.comment }}</p>
                        </div>
                    {% empty %}
                        Ainda não há avaliações
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}