{% extends 'base.html' %}

{% block title %}
    Gerenciar Endereços
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mb-3 mt-3">Gerenciar endereços</h2>
        {% for address in addresses %}
            <div class="row">
                <div class="col-4">
                    <div class="card border-dark mt-3" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.city }} - {{ address.state }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.postal_code }}</h6>
                            <p class="card-text">{{ address.number }}, {{ address.complement }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-left" style="padding-top: 45px;">
                    <div>
                        <a href="{% url 'users:update_address' address.id %}">
                            <button class="btn btn-warning">Editar</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'users:delete_address' address.id %}">
                            <button class="btn btn-danger mt-2">Excluir</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}